body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.errorStyle {
	display: flex;
	justify-content: flex-end;
}

.card {
	width: 350px;
}

.card__content {
	display: flex;
}

.card__image {
	width: 200px;
}

.card__name {
	text-align: center;
	font-size: 30px;
}

.card__info {
	display: inline-block;
	margin-right: 30px;
}
.infoName {
	font-weight: 800;
}
.infoContent {
	font-weight: 400;
}
